.center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .center .name__input {
    appearance: none;
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    border-bottom: 1px solid rgb(255, 255, 255, 1);
    margin-bottom: 20px;
    width: 300px;
  }
  
  .center .name__input::placeholder {
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
    font-size: 22px;
    transition: opacity 0.3s ease-in;
  }
  
  .center .name_input::placeholder:hover {
      opacity: 1;
  }

  .center .name__input:focus,
  .center .name__input:active {
    outline: none;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .center .name__text {
    font-size: 36px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  
  .center .name {
    margin-bottom: 20px;
  }