.list {
    margin-bottom: 20px;
}

    .toDo {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .toDo__button {
        margin-right: 15px;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity ease-in;
    }

    .toDo__button:hover {
        opacity: 1;
    }