.weather {
  position: absolute;
  font-size: 18px;
  top: 25px;
  right: 25px;
}  

  .hotWeather {
    font-size: 40px;
    text-align: right;
    background: -webkit-linear-gradient(red, rgb(255, 255, 176));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .warmWeather {
    font-size: 40px;
    text-align: right;
    background: -webkit-linear-gradient(orange, rgb(255, 255, 176));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .coldWeather {
    font-size: 40px;
    text-align: right;
    background: -webkit-linear-gradient(rgb(0, 0, 114), rgb(0, 119, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }